#root {
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.container {
  display: flex;
  flex-direction: row; 
  background-color: rgb(249, 249, 249);
  min-height: 100%; 
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
  }
}
